<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Microcut Admin Template - Web GUI Templates</title>
	<style type="text/css">
		@import "/public/assets/css/global.css";
	</style>
</head>
<body>

	<!-- Main Wrapper -->
	<div class="wrapper">
	
	  <!-- Header -->
		<div class="header">
			
			<!-- Application Title -->
			<h1><a href="" title="">Micro<span>Cut</span></a></h1>
			<!-- /Application Title -->
			
			<!-- Header Controls -->
			<div class="header-controls">
				<ul>
					<li class="first">Logged in as <a href="" title=""><strong>Joe Bloggs</strong></a></li>
					<li><a href="" title="">Logout</a></li>
				</ul>
			</div>
			<!-- /Header Controls -->
			
			<div class="clear-both"></div>

		</div>
		<!-- /Header -->
		
		<!-- Primary Navigation -->
		<div class="primary-navigation">
		
		  <!-- Navigation List -->
			<ul>
				<li class="active"><a href="" title="">Dashboard</a></li>
				<li><a href="" title="">Content</a></li>
				<li><a href="" title="">Templates</a></li>
				<li><a href="" title="">Settings</a></li>
			</ul>
			<!-- /Navigation List -->
			
			<!-- Search Form -->
			<form method="get" action="" class="search-form">
				<fieldset>
					<legend>Search Form</legend>
					
					<label for="keywords">Keywords</label>
					<input type="text" name="keywords" id="keywords" value="Enter Keywords" />
					<button type="submit" title="">Search</button>
					
				</fieldset>
			</form>
			<!-- /Search Form -->
			
			<div class="clear-both"></div>
			
		</div>
		<!-- /Primary Navigation -->
		
		<!-- Standard Block -->
		<div class="standard-block">
		
			<!-- Block Header -->
			<h2><a href="" title="">Standard Block Header</a></h2>
			<!-- /Block Header -->
			
			<!-- Standard Table -->
			<table cellpadding="0" cellspacing="0" class="standard-table">
			  <caption>Standard Data Table</caption>
				<thead>
					<tr>
						<th>Column Header</th>
						<th>Column Header</th>
						<th>Column Header</th>
						<th>Column Header</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="" title="">Data Object One</a></td>
						<td>Long description of data object one</td>
						<td>1432</td>
						<td>18.08.2010</td>
						<td class="action-cell">
							<a href="" title="">Edit</a> | 
							<a href="" title="">Delete</a>
						</td>
					</tr>
					<tr>
						<td><a href="" title="">Data Object Two</a></td>
						<td>Long description of data object two</td>
						<td>107</td>
						<td>18.08.2010</td>
						<td class="action-cell">
							<a href="" title="">Edit</a> | 
							<a href="" title="">Delete</a>
						</td>
					</tr>
					<tr>
						<td><a href="" title="">Data Object Three</a></td>
						<td>Long description of data object three</td>
						<td>77</td>
						<td>18.08.2010</td>
						<td class="action-cell">
							<a href="" title="">Edit</a> | 
							<a href="" title="">Delete</a>
						</td>
					</tr>
					<tr>
						<td><a href="" title="">Data Object Four</a></td>
						<td>Long description of data object four</td>
						<td>56</td>
						<td>18.08.2010</td>
						<td class="action-cell">
							<a href="" title="">Edit</a> | 
							<a href="" title="">Delete</a>
						</td>
					</tr>
					<tr>
						<td><a href="" title="">Data Object Five</a></td>
						<td>Long description of data object five</td>
						<td>2598</td>
						<td>18.08.2010</td>
						<td class="action-cell">
							<a href="" title="">Edit</a> | 
							<a href="" title="">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- /Standard Table -->
			
			<!-- Simple Pagination (In our other templates this is much more refined, uses list XHTML) -->
			<div class="pagination">
				<a href="" title="">First</a> |
				<a href="" title="">Prev</a> |
				<strong>1</strong> |
				<a href="" title="">2</a> | 
				<a href="" title="">3</a> |
				<a href="" title="">4</a> |
				<a href="" title="">5</a> |
				<a href="" title="">6</a> |
				<a href="" title="">Next</a> |
				<a href="" title="">Last</a>
			</div>
			<!-- /Simple Pagination -->
		
		</div>
		<!-- /Standard Block -->
		
		<!-- Standard Block -->
		<div class="standard-block">
		
			<!-- Block Header -->
			<h2><a href="" title="">Standard Block Header</a></h2>
			<!-- /Block Header -->
			
			<!-- Standard Form -->
			<form method="post" action="" class="standard-form">
				<fieldset>
					<legend>Standard Form</legend>
					
					<!-- Field -->
					<div class="field">
						<label for="field_1">Field Label</label>
						<input type="text" name="field_1" id="field_1" value="" class="textbox" />
						<p class="help">This is the field help directive</p>
					</div>
					<!-- /Field -->
					
					<!-- Field (Error) -->
					<div class="field field-error">
						<label for="field_2">Field Label</label>
						<input type="text" name="field_2" id="field_2" value="" class="textbox" />
						<p class="help">This is the field help directive for errors</p>
					</div>
					<!-- /Field (Error) -->
					
					<!-- Field -->
					<div class="field">
						<label for="field_3">Field Label</label>
						<textarea name="field_3" id="field_3" cols="80" rows="10" class="textarea"></textarea>
						<p class="help">This is the field help directive</p>
					</div>
					<!-- /Field -->
					
					<!-- Field -->
					<div class="field">
						<button type="button">Cancel</button>
					  <button type="submit" class="emphasis">Submit</button>
					</div>
					<!-- /Field -->
					
				</fieldset>
			</form>
			<!-- /Standard Form -->
		
		</div>
		<!-- /Standard Block -->
		
		<!-- Flash Success -->
		<div class="flash flash-success">
			This is a success flash message bar
		</div>
		<!-- /Flash Success -->
		
		<!-- Flash Error -->
		<div class="flash flash-error">
			This is an error flash message bar
		</div>
		<!-- /Flash Error -->
		
		<!-- Standard Block -->
		<div class="standard-block">
		
			<!-- Block Header -->
			<h2><a href="" title="">Standard Block Header</a></h2>
			<!-- /Block Header -->
			
			<!-- Content -->
			<div class="standard-content">
			
				<p>
					Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="" title="">commodo consequat</a>. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
					sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			
			</div>
			<!-- /Content -->
			
		</div>
		<!-- /Standard Block -->
		
		<!-- Footer -->
		<div class="footer">
			&copy; Copyright 2010 Your Company Name
		</div>
		<!-- /Footer -->
	
	</div>
	<!-- /Main Wrapper -->

</body>
</html>